body {
  background-color: beige;
  color: brown;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-header {
  background-color: coral;
  color: white;  
}

#navbar {
  background-color: rgb(61, 11, 199);
  color: white;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 16px;
}

#showcase {
  background-image: url(../images/white-cloud-blue-sky_1203-11307.webp);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 40px;
  text-align: center;
}

#showcase h1{
    font-size:28px;
    line-height: 1.3em;
}

#main {
    float:left;
    width:60%;
    padding: 2px 5px;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 35%;
    box-sizing: border-box;
}

#main-footer {
    background-color: white;
    text-align: center;
    font-weight: bold;
}

@media(max-width:600px) {
    #main {
        float:none;
        width:100%;
    }

    #sidebar {
        float:none;
        width:100%;
    }
}
