body{
    background-color: beige;
    color: brown;
    font-family: "Comic Sans MS", Helvetica, Arial;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width:80%;
    margin:auto;
    
}